.Rproj.user
.Rhistory
.RData
.Ruserdata
BASEBALL_files
Baseball 2 (Adam Code).Rmd
Baseball-2--Adam-Code-.html
Jonathan code.Rmd
Jonathan-code.html
Pitch Mix.png
README.md
Stat cast 2 electric boogaloo.png
Stat cast camera placement.png
draft code.Rmd
draft-code.html
